* {
    box-sizing: border-box;
    background: black;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

/* container */
#container {
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
    width: 40%;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
    padding: 0;
    color: rgb(0, 255, 0);
  
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#buttonCont {
    width: 100%;
    position: absolute;
    background: none;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.button {
    display: block;
    padding: 10px;
    margin: 10px;
    color: white;
    background: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
}
.active {
    background: rgb(51, 167, 60);
}

.button:hover {
    color: rgb(51, 255, 0);
    border-color: rgb(51, 255, 0);
}

.button:active {
    background: rgb(51, 167, 60);
}